.colorbox {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 25px;
    margin: 5px;
    padding: 5 px;
    text-align: center;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(58, 182, 231);
}


.green {
    background-color: green;
}

.red1 {
    color: red;
}

.blue1 {
    color: rgb(58, 182, 231);
}

.green1 {
    color: green;
}

#colorarea {
    display: flex;
    margin: auto;
}

input {
    margin: 5px;
}